# Ignore configuration files that may contain sensitive information.
sites/*/settings.php
sites/*/services.yml

# Ignore paths that contain user-generated content.
sites/default/files/php
sites/default/files/js
sites/default/files/css
